
%b
  - if message.from_user
    = "From: #{message.from_user.name}"
  - else
    = 'From: <inactive_user>'
  %br
  - if message.to_user
    = "To: #{message.to_user.name}"
  - else
    = 'To: <inactive_user>'
  %br
= message.body